<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Template • TodoMVC</title>
		<link rel="stylesheet" href="node_modules/todomvc-common/base.css">
		<link rel="stylesheet" href="node_modules/todomvc-app-css/index.css">
		<!-- CSS overrides - remove if you don't need it -->
		<link rel="stylesheet" href="css/app.css">
	</head>
	<body>
		<!-- 入口在够用的情况下越小越好 -->
		<section class="todoapp" id="todoapp">
			<header class="header">
				<h1>todos</h1>
				<!-- 被Vue管理的模块中，aotufocus不管用 -->
				<!-- 时间绑定，如果没有参数，则时间处理函数默认接收到一个事件源对象参数，如果绑定的时候调用传参了，则以传递的参数为准，如果传参了还想得到事件对象，则在调用的时候传递$event -->
				<input 
					class="new-todo" 
					placeholder="What needs to be done?"
					v-on:keydown.enter="addTodo"
					v-model="inputText">
			</header>
			<!-- This section should be hidden by default and shown when there are todos -->
			<!-- vue提供了一个特殊放入标签：<template>，该标签可以和v-if结合使用，渲染结果不会包含该标签，既不想增加结点，还想控制多个元素 -->
			<template v-if="todos.length">
				<section class="main" >
					<input id="toggle-all" class="toggle-all" type="checkbox">
					<label for="toggle-all">Mark all as complete</label>
					<ul class="todo-list">
						
						<!-- li就是每一个任务项 ，每个人物都有自己的状态
						已完成：complete
						未完成：啥都没有
						正在编辑：editing-->
						<li 
							v-bind:class="{
							completed:item.done,
							editing:item ===currentEdit	}"
							v-for="(item,index) in todos">
							<div class="view">
								<input 
									class="toggle" 
									type="checkbox" 
									v-model="item.done">
								<label
								v-on:dblclick="getEditing(item)">{{ item.title }}</label>
								<button 
									class="destroy"
									v-on:click="removeTode(index)"></button>
							</div>
							<input 
								class="edit" 
								v-model="item.title"
								v-on:keyup.enter="saveEdit(item,index)"
								v-on:blur="saveEdit(item,index)"
								v-on:keyup.esc="cancelEdit">
						</li>
					</ul>
				</section>
				<!-- This footer should hidden by default and shown when there are todos -->
				<footer class="footer" >
					<!-- This should be `0 items left` by default -->
					<span class="todo-count"><strong>0</strong> item left</span>
					<!-- Remove this if you don't implement routing -->
					<ul class="filters">
						<li>
							<a class="selected" href="#/">All</a>
						</li>
						<li>
							<a href="#/active">Active</a>
						</li>
						<li>
							<a href="#/completed">Completed</a>
						</li>
					</ul>
					<!-- Hidden if no completed items are left ↓ -->
					<button class="clear-completed">Clear completed</button>
				</footer>
			</template>
			
		</section>
		<footer class="info">
			<p>Double-click to edit a todo</p>
			<!-- Remove the below line ↓ -->
			<p>Template by <a href="http://sindresorhus.com">Sindre Sorhus</a></p>
			<!-- Change this out with your name and url ↓ -->
			<p>Created by <a href="http://todomvc.com">you</a></p>
			<p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
		</footer>
		<!-- Scripts here. Don't remove ↓ -->
		<!-- <script src="node_modules/todomvc-common/base.js"></script> -->
		<script src="node_modules/vue/dist/vue.js"></script>
		<script src="js/app.js"></script>
	</body>
</html>
